body{
    text-align: center;
    background-color: rgb(157, 133, 175)79, 216;
    font-size: 30px;
}
.select-container{
    font-size: 30px;
    border-radius: 10px;
    width: 200px;
    background-color: aqua;
    height: 60px;
    border: solid 2px grey dotted;
}